.col-md-1 {
  width: 8.33333%; }

.col-md-2 {
  width: 16.66667%; }

.col-md-3 {
  width: 25%; }

.col-md-4 {
  width: 33.33333%; }

.col-md-5 {
  width: 41.66667%; }

.col-md-6 {
  width: 50%; }

.col-md-7 {
  width: 58.33333%; }

.col-md-8 {
  width: 66.66667%; }

.col-md-9 {
  width: 75%; }

.col-md-10 {
  width: 83.33333%; }

.col-md-11 {
  width: 91.66667%; }

.col-md-12 {
  width: 100%; }

body {
  font-size: 13px; }

.wrapper h1 {
  font-size: 39px; }
.wrapper h2 {
  font-size: 33px; }
.wrapper h3 {
  font-size: 20px; }
.wrapper h4 {
  font-size: 13px; }

.wrapper {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 90px;
  margin-bottom: 40px;
  width: 100%; }
  .wrapper h1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .wrapper .btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .wrapper .btn_1 {
    margin-left: 10px;
    margin-right: 20px; }
  .wrapper .btn_2 {
    margin-left: 20px;
    margin-right: 20px; }
  .wrapper .btn_3 {
    margin-left: 40px;
    margin-right: 40px; }
  .wrapper .content {
    background-color: #0b2e8e;
    background-size: cover;
    width: 120%;
    height: 450px; }

.cover {
  width: 50px;
  height: 40px; }

@media screen and (max-width: 480px) {
  font-size: 20px; }
@media all and (max-width: 996px) and (min-width: 722px) {
  width: 100px; }
@media all and (min-width: 1200px) {
  width: 200px; }
@media all and (max-width: 721px) {
  width: 80px; }
h1, h2 {
  color: #8b1212;
  margin-top: 10px; }

.margintop, h1 {
  margin-top: 10px; }

h1 {
  font-size: 34px; }

h2 {
  font-size: 24px; }

h1 {
  color: #db2020;
  font-size: 34px; }

h2 {
  color: #db2020;
  font-size: 24px; }

.aa {
  font-size: 100px; }
  .aa.bb {
    color: green; }

.link {
  font-size: 100px;
  text-decoration: none; }
  .link:hover {
    text-decoration: overline; }

.aa > .bb {
  font-size: 10px; }

.aa {
  font: 6px;
  font-size: 12px;
  padding-right: 3.5px;
  padding-top: 14px;
  width: 9px;
  height: 50px;
  margin-top: 2000rem; }
