body {
  font-size: 13px; }

.wrapper h1 {
  font-size: 39px; }
.wrapper h2 {
  font-size: 33px; }
.wrapper h3 {
  font-size: 20px; }
.wrapper h4 {
  font-size: 13px; }

.wrapper {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 90px;
  margin-bottom: 40px;
  width: 100%; }
