body {
  font-size: 13px; }

.wrapper h1 {
  font-size: 39px; }
.wrapper h2 {
  font-size: 33px; }
.wrapper h3 {
  font-size: 20px; }
.wrapper h4 {
  font-size: 13px; }

.wrapper {
  margin-top: 10px;
  margin-left: 40px;
  margin-right: 90px;
  margin-bottom: 40px;
  width: 100%; }
  .wrapper h1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .wrapper .btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .wrapper .btn_1 {
    margin-left: 10px;
    margin-right: 20px; }
  .wrapper .btn_2 {
    margin-left: 20px;
    margin-right: 20px; }
  .wrapper .btn_3 {
    margin-left: 40px;
    margin-right: 40px; }
  .wrapper .content {
    background-color: #0b2e8e;
    background-size: cover;
    width: 120%;
    height: 450px; }

.cover {
  width: 50px;
  height: 40px; }

.add-1 {
  width: 10px; }

.add-2 {
  width: 20px; }

.add-3 {
  width: 30px; }

.add-4 {
  width: 40px; }

.marginbottom-1 {
  margin-bottom: 1px; }

.marginbottom-2 {
  margin-bottom: 2px; }

.marginbottom-3 {
  margin-bottom: 3px; }

.marginbottom-4 {
  margin-bottom: 4px; }

.marginbottom-5 {
  margin-bottom: 5px; }

.marginbottom-6 {
  margin-bottom: 6px; }

.marginbottom-7 {
  margin-bottom: 7px; }

.marginbottom-8 {
  margin-bottom: 8px; }

.marginbottom-9 {
  margin-bottom: 9px; }

.marginbottom-10 {
  margin-bottom: 10px; }

.marginbottom-11 {
  margin-bottom: 11px; }

.marginbottom-12 {
  margin-bottom: 12px; }

.marginbottom-13 {
  margin-bottom: 13px; }

.marginbottom-14 {
  margin-bottom: 14px; }

.marginbottom-15 {
  margin-bottom: 15px; }

.marginbottom-16 {
  margin-bottom: 16px; }

.marginbottom-17 {
  margin-bottom: 17px; }

.marginbottom-18 {
  margin-bottom: 18px; }

.marginbottom-19 {
  margin-bottom: 19px; }

.marginbottom-20 {
  margin-bottom: 20px; }

.marginbottom-21 {
  margin-bottom: 21px; }

.marginbottom-22 {
  margin-bottom: 22px; }

.marginbottom-23 {
  margin-bottom: 23px; }

.marginbottom-24 {
  margin-bottom: 24px; }

.marginbottom-25 {
  margin-bottom: 25px; }

.marginbottom-26 {
  margin-bottom: 26px; }

.marginbottom-27 {
  margin-bottom: 27px; }

.marginbottom-28 {
  margin-bottom: 28px; }

.marginbottom-29 {
  margin-bottom: 29px; }

.marginbottom-30 {
  margin-bottom: 30px; }

.marginbottom-31 {
  margin-bottom: 31px; }

.marginbottom-32 {
  margin-bottom: 32px; }

.marginbottom-33 {
  margin-bottom: 33px; }

.marginbottom-34 {
  margin-bottom: 34px; }

.marginbottom-35 {
  margin-bottom: 35px; }

.marginbottom-36 {
  margin-bottom: 36px; }

.marginbottom-37 {
  margin-bottom: 37px; }

.marginbottom-38 {
  margin-bottom: 38px; }

.marginbottom-39 {
  margin-bottom: 39px; }

.marginbottom-40 {
  margin-bottom: 40px; }

.marginbottom-41 {
  margin-bottom: 41px; }

.marginbottom-42 {
  margin-bottom: 42px; }

.marginbottom-43 {
  margin-bottom: 43px; }

.marginbottom-44 {
  margin-bottom: 44px; }

.marginbottom-45 {
  margin-bottom: 45px; }

.marginbottom-46 {
  margin-bottom: 46px; }

.marginbottom-47 {
  margin-bottom: 47px; }

.marginbottom-48 {
  margin-bottom: 48px; }

.marginbottom-49 {
  margin-bottom: 49px; }

.marginbottom-50 {
  margin-bottom: 50px; }

.marginbottom-51 {
  margin-bottom: 51px; }

.marginbottom-52 {
  margin-bottom: 52px; }

.marginbottom-53 {
  margin-bottom: 53px; }

.marginbottom-54 {
  margin-bottom: 54px; }

.marginbottom-55 {
  margin-bottom: 55px; }

.marginbottom-56 {
  margin-bottom: 56px; }

.marginbottom-57 {
  margin-bottom: 57px; }

.marginbottom-58 {
  margin-bottom: 58px; }

.marginbottom-59 {
  margin-bottom: 59px; }

.marginbottom-60 {
  margin-bottom: 60px; }

.marginbottom-61 {
  margin-bottom: 61px; }

.marginbottom-62 {
  margin-bottom: 62px; }

.marginbottom-63 {
  margin-bottom: 63px; }

.marginbottom-64 {
  margin-bottom: 64px; }

.marginbottom-65 {
  margin-bottom: 65px; }

.marginbottom-66 {
  margin-bottom: 66px; }

.marginbottom-67 {
  margin-bottom: 67px; }

.marginbottom-68 {
  margin-bottom: 68px; }

.marginbottom-69 {
  margin-bottom: 69px; }

.marginbottom-70 {
  margin-bottom: 70px; }

.marginbottom-71 {
  margin-bottom: 71px; }

.marginbottom-72 {
  margin-bottom: 72px; }

.marginbottom-73 {
  margin-bottom: 73px; }

.marginbottom-74 {
  margin-bottom: 74px; }

.marginbottom-75 {
  margin-bottom: 75px; }

.marginbottom-76 {
  margin-bottom: 76px; }

.marginbottom-77 {
  margin-bottom: 77px; }

.marginbottom-78 {
  margin-bottom: 78px; }

.marginbottom-79 {
  margin-bottom: 79px; }

.marginbottom-80 {
  margin-bottom: 80px; }

.marginbottom-81 {
  margin-bottom: 81px; }

.marginbottom-82 {
  margin-bottom: 82px; }

.marginbottom-83 {
  margin-bottom: 83px; }

.marginbottom-84 {
  margin-bottom: 84px; }

.marginbottom-85 {
  margin-bottom: 85px; }

.marginbottom-86 {
  margin-bottom: 86px; }

.marginbottom-87 {
  margin-bottom: 87px; }

.marginbottom-88 {
  margin-bottom: 88px; }

.marginbottom-89 {
  margin-bottom: 89px; }

.marginbottom-90 {
  margin-bottom: 90px; }

.marginbottom-91 {
  margin-bottom: 91px; }

.marginbottom-92 {
  margin-bottom: 92px; }

.marginbottom-93 {
  margin-bottom: 93px; }

.marginbottom-94 {
  margin-bottom: 94px; }

.marginbottom-95 {
  margin-bottom: 95px; }

.marginbottom-96 {
  margin-bottom: 96px; }

.marginbottom-97 {
  margin-bottom: 97px; }

.marginbottom-98 {
  margin-bottom: 98px; }

.marginbottom-99 {
  margin-bottom: 99px; }

.marginbottom-100 {
  margin-bottom: 100px; }
