@import "assets/var";
@import "assets/mixin"; // @import "assets/font";
@import "../libs/bootstrap-sass/assets/stylesheets/bootstrap";

body {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.section {
    width: 100%;
    height: 100vh;
    @include box-sizing(border-box);
}

.wrapper {
    .section_01 {
        text-align: center;
        padding-top: 300px;

        p {
            margin-top: 20px;
        }
    }

    .section_02 {
        .flow {
            .item {
                height: 120px;
            }
        }
    }

    .section_03 {
        background-color: rgb(43, 35, 110);
        padding-top: 150px;

        .icon {
            width: 300px;
            // background-color: #fff;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            opacity: 0;
            transform: translateY(50px);
            transition: all 1s ease-out;

            &.fade-in {
                opacity: 1;
                transform: translateY(0);
            }

            img {
                width: 300px;
            }

            .title {
                margin-top: 30px;
                color: #fff;
                font-size: 40px;
            }
        }
    }

    .section_04 {
        background-color: rgb(201, 0, 52);
        padding-top: 350px;
        transition-property: background-color;
        transition-duration: 0.5s;
        transition-timing-function: linear;

        &.bgc.color_fadein {
            background-color: rgb(0, 0, 0);
            transition-property: background-color;
            transition-duration: 0.5s;
            transition-timing-function: linear;
        }

        .logo {
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            img {
                width: 200px;
            }
        }
    }

    .section_05 {
        padding-top: 120px;
        background-color: #73db7a;
        // background: url("http://dummy-images.com/people/dummy-2560x1920-Apollo11.jpg") no-repeat;
        // background-size: cover;
        // background-position: center;
        .sticky {
            width: 120px;
            height: 230px;
            margin-left: auto;
            margin-right: auto;
            background-color: #faff00;
        }
    }
}
